In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Fish.csv")

In [5]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [34]:
y=df["Weight"].values

In [35]:
x=df[["Length1","Length2","Length3","Height","Width"]].values

In [36]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [37]:
#training the model
model.fit(x,y)

LinearRegression()

In [41]:
#R2 score
model.score(x,y)

0.8852867046546207